doctype 5
html
    head
        title #{title} | mddApp
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/login_custom.css')
    body
        div(class='container')
            div(class='row')
                div(class='profile-header-container')
                    div(class='profile-header-img')
                        img(class="img-circle" src="https://i2.wp.com/cdn2.iconfinder.com/static/2ae174f07522a6b8c7c997bf4b62a821/assets/img/default-avatar-user.png?ssl=1")
                        div(class='rank-label-container')
                            span(class="label label-default rank-label") Employee
            .card.card-container
                p#profile-name.profile-name-card

                form.form-signin
                    span#reauth-email.reauth-email
                    input#inputEmail.form-control(type='email',name='email' placeholder='Email address', required='', autofocus='')
                    input#inputPassword.form-control(type='password', name='password',placeholder='Password', required='')
                    button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') Sign in
                    a.forgot-password.text-center
                        | Forgot the password?
            // /card-container
            // /container


        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
