include mixins

doctype 5
html
    head
        title #{title} | mddApp
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body

        +nav("My Requests", "dropdown_menu", "/profile")

        +listGroup("links")
            for d in data
                +listItem("/request-detail")
                    .row
                        .col-xs-3 
                            if d.CurrentStatus == "Completed"
                                +requestIG(d.CurrentStatus, green)
                            else 
                                +requestIG(d.CurrentStatus, yellow)
                        .col-xs-6 
                             +listHeading= d._Product.ProductName
                        .col-xs-3 
                            +listText= d.ProblemTypeDescription


        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
