doctype 5
html
    head
        title #{title} | mddApp
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body

            div(class='row')
                div(class='profile-header-container')
                    div(class='profile-header-img')
                        h1.text-center What's up, doc?
                        img(class="img-circle" src="http://api.randomuser.me/portraits/women/39.jpg")
                        div(class='rank-label-container')
                            span(class="label label-default rank-label") Doctor
            br
            div(class='row')
                div(class='col-sm-6 text-center front-div-left' style="padding-bottom:15px;")
                    a(href='/mydevices' class="btn  btn-primary front-button")
                        br
                        i(class="fa fa-heartbeat fa-5x")
                        h3 Equipment
                        br
                        ul.list-group
                            li.list-group-item
                                h4
                                    i(class='fa fa-check-circle' style="color: green")  #{good} in good standing
                            li.list-group-item
                                h4
                                    i(class='fa fa-exclamation-triangle' style="color: #E5E500")  #{attention} need attention
                            li.list-group-item 
                                h4
                                    i(class='fa fa-minus-circle' style="color: red")  #{bad} past due


                div(class='col-sm-6 text-center front-div-right')
                    a(href='/myrequests' class="btn btn-primary front-button")
                        br
                        i(class="fa fa-life-ring fa-5x")
                        h3 Service Requests
                        br
                        ul.list-group
                            li.list-group-item
                                h4
                                    i(class='fa fa-exclamation-triangle' style="color: #E5E500")  3 Being Worked On
                            li.list-group-item
                                h4
                                    i(class='fa fa-check-circle' style="color: green")  7 Completed


        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
