doctype 5
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Echo Data
    table 
      tr
        td Work:
        td #{work}
      tr
        td Position:
        td #{position}
