body, html {
	height: 100%;
	background-color: #F7F7F7;
	background-repeat: repeat;
}

.badge{
	  white-space: normal;
}
.request-badge{
	width: 100%;
}
/**
 * Profile image component
 */
.profile-header-container{
	margin: 0 auto;
	text-align: center;
}

.profile-header-img {
	padding: 54px;
	padding-bottom: 30px;
    background-image: url('/images/seagreen.jpg');
}

.profile-header-img > img.img-circle {
	width: 300px;
	height: 300px;
	border: 2px solid #337AB7;
}

.profile-header {
	margin-top: 43px;
}

/**
 * Ranking component
 */
.rank-label-container {
	margin-top: -19px;
	/* z-index: 1000; */
	text-align: center;
}

.label.label-default.rank-label {
	background-color: #337AB7;
	padding: 5px 10px 5px 10px;
	border-radius: 27px;
}

.btn-sq-lg {
	width: 150px !important;
	height: 150px !important;
}

.btn-sq {
	width: 100px !important;
	height: 100px !important;
	font-size: 10px;
}

.btn-sq-sm {
	width: 50px !important;
	height: 50px !important;
	font-size: 10px;
}

.btn-sq-xs {
	width: 25px !important;
	height: 25px !important;
	padding:2px;
}

/***
 * Navbar
 */

 .navbar-left {
    float:left;
    margin-left:15px;
    padding:6px 10px;
}

.back-button{
	font-size: 30px;
	color: #fff;
	z-index: 888;
	position: relative;
}

.title{
	position: absolute;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 24px;
	padding-top: 8px;
}

.navbar-default{
	background-color: #07A56A;
}

/***
 * My Devices
 */
.badge-green{
	background-color: #07A56A;
}

/***
 * Device Detail Page
 */

.detailTitle, .detailSerial, .detailPic {
	text-align: center;
}






