body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: blue;
}
h1 {font-size:30px; color:blue;}
h2 {font-size:20px; color:blue;}
#standardsize img
{
height:220px;
width:780px;
}
.formtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 0px;
	border-color: #999999;
	border-collapse: collapse;
}
.stabletable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 0px;
	border-color: #ffffff;
	border-collapse: collapse;
}
.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	width: 85px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.hovertable tr {
	background-color:whitesmoke;
}
.hovertable td {
	border-width: 1px;
	width: 85px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
/* ----------- FORM LAYOUT ----------- */
#form_wrapper
{
	float: left;
    margin:0 auto;
    height:auto;
    width: 1000px;
    padding:50x;
    border:solid 5px white;
    background: white;
}
